body {
    background: #222;
    font-family: Arial, sans-serif;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 80px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.title {
    margin-bottom: 20px;
    font-size: 25px;
    letter-spacing: 1px;
}

.search {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 20px;
    height: 10px;
    border-radius: 12px;
    flex: 1;
    font-size: 16px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.search button img {
    width: 20px;
}

.weather-icon {
    width: 150px;
    margin-top: 20px;
}

.weather h1 {
    font-size: 60px;
    font-weight: 500;
}

.weather h2 {
    font-size: 22px;
    font-weight: 300;
    margin-top: -5px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 40px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 45px;
    margin-right: 10px;
}

.humidity, .air {
    font-size: 18px;
}
