@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.card {
    width: 380px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 18px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 12px 30px rgba(0,0,0,0.25);
    text-align: center;
    color: #fff;
}

h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    gap: 10px;
    justify-content: center;
}

input {
    width: 45%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.25);
    color: white;
    font-size: 14px;
}

input::placeholder {
    color: #ddd;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 18px;
    background: #ffffff;
    color: #2a5298;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #dfe9ff;
}

.weather-info {
    margin-top: 25px;
}

.icon {
    width: 110px;
    margin-bottom: 10px;
}

.details {
    margin-top: 10px;
    text-align: left;
    padding: 10px 20px;
}

.details p {
    margin: 5px 0;
    font-size: 15px;
}
